.login-container{
  // background-color: #000;
  height: 100%;
  position: relative;
  .logo-gather-demo-wrapper{
    opacity: .7;
    background-color: #000;
    height: 40%;
    position: relative;
  }
  .title{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 60px;
    z-index: 999;
  }
}